{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    写文章
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="avatar">标题图</label>
                        <input type="file" class="form-control-file" name="avatar" id="avatar">
                    </div>


                    <div class="form-group">
                        <label for="title">文章标题</label>
                        <textarea type="text" class="form-control" id="title" name="title"></textarea>
                    </div>

                    <!-- 文章栏目 -->
                    <div class="form-group">
                        <label for="column">栏目</label>
                        <select class="form-control"
                                id="column"
                                name="column"
                        >
                            <option value="none">请选择栏目..</option>
                            {% for column in columns %}
                                <option value="{{ column.id }}">{{ column }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- 文章标签 -->
                    <div class="form-group">
                        <label for="tags">标签</label>
                        <input type="text"
                               class="form-control col-3"
                               id="tags"
                               name="tags"
                        >
                    </div>
                    <!-- 文章正文 -->
                    <div class="form-group">
                        <label for="body">文章正文</label>
                        <div>
                            {#                        <textarea type="text" class="form-control" id="body" name="body" rows="12"></textarea>#}
                            {{ article_post_form.media }}
                            {{ article_post_form.body }}
                        </div>
                        {#                         <pre style="font-family: inherit;font-size: 1em;">{{ article_post_form.body | safe}}</pre>#}
                    </div>
                    {% block script %}
                    <script>
                        $(".django-ckeditor-widget").removeAttr('style');
                    </script>
                    {% endblock script %}
                    <button type="submit" class="btn btn-primary">完成</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}